*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #77abff;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1px 0;
}

.cabecalho-imagem{
    width: 11%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin:0 16px;
    font-size: 30px;
    font-weight: bold
}